html {
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul,
ol {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    list-style: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

input,
button,
textarea,
select,
address {
    font: inherit;
}

button {
    cursor: pointer;
    border: none;
}

a {
    color: inherit;
    text-decoration: none;
    position: relative;
}

body {
    font-size: 18px;
    /* min-height: 100vh; */
    font-family: 'Manrope', sans-serif;
    color: #17181C;
    background-color: #F7F4F4;
}

.header-background {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
}

.container {
    max-width: 1060px;
    margin: 0 auto;
}

.footer-top {
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.header {
    color: #fff;
}

.header__top {
    transition: all 0.5s;
    position: fixed;
    width: 100vw;
    z-index: 10;
    transition: all 0.5s;
}

.header__top-inner {
    z-index: 100;
    transition: all 0.5s;
}

.header .show {
    width: 100vw;
    z-index: 106;
    padding-bottom: 20px;
    background-color: rgba(18, 18, 19, 0.767);
}

.header__top-inner .show {
    margin-top: -63px;
    padding-bottom: 22px;
}

.menu {
    padding: 0;
    transition: all 0.5s;
}

.menu__btn {
    display: none;
    border: none;
    background-color: transparent;
    position: relative;
    z-index: 2;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    color: rgba(255, 255, 255, 0.8);
}

.mrnu__footer-item,
.menu__list-item {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.menu__footer-item a,
.menu__list-item a {
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    /* Убираем подчеркивание */
    cursor: pointer;
}

.menu__footer-item a::after,
.menu__list-item a::after {
    background-color: #FFD200;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.menu__footer-item a:hover::after,
.menu__footer-item a:focus::after,
.menu__list-item a:hover::after,
.menu__list-item a:focus::after {
    width: 100%;
}


/* .menu__list-link a:hover,
:focus,
:active {
    text-shadow: #FC0 1px 0 10px;
} */

.phone-num {
    margin-right: 12px;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
}

.phone-call {
    padding-top: 22px;
}

.callback__btn {
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 18px 25px;
    background-color: #5BBFC8;
    border-radius: 5px;
    transition: all 0.5s;
}

.callback__btn:hover {
    background-color: #3b9199;
}

.header-bottom {
    color: #fff;
    padding-top: 82px;
}

.header-title {
    margin-top: 81px;
    font-weight: 800;
    font-size: 64px;
    line-height: 80px;
    text-transform: uppercase;
}

.title-two {
    display: block;
}

.header-content {
    color: #fff;
    display: block;
    padding-top: 20px;
    max-width: 540px;
    font-size: 18px;
    line-height: 25px;
}

.header-call {
    display: block;
    position: relative;
    background-color: #FFD200;
    max-width: 265px;
    text-align: center;
    padding: 22px 50px 22px 19px;
    border-radius: 5px;
    color: #000;
    margin-top: 41px;
    font-weight: bold;
    transition: all 0.5s;
}

.header-call:hover {
    background-color: #cea800;
}

.header-call::before {
    content: '';
    display: block;
    position: absolute;
    top: 17px;
    left: 215px;
    width: 33px;
    height: 33px;
    background-image: url('../img/icons/racing.svg');
    background-size: contain;
}

.mobile-repair {
    color: #000;
    padding-top: 85px;
}

.mobile-repair__inner {
    display: flex;
    justify-content: space-between;
}

.price {
    font-family: 'PT Sans', serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
}

.block-one {
    background: url(../img/bg-block.png) no-repeat center center;
    background-size: cover;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.block-one__inner {
    display: block;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.774);
    border-radius: 10px;
    max-width: 412px;
    height: 288px;
    /* width: 100%; */
    padding: 66px 24px 65px 44px;
}

.block-one__title {
    position: relative;
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
    text-transform: uppercase;
}

.block-one__title::before {
    content: '';
    position: absolute;
    border-bottom: 5px solid #000;
    width: 88px;
    top: 97px;
}

.block-one__content {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    padding-top: 40px;
}

.block-two {
    width: 204px;
    height: 287px;
    position: relative;
    background-color: #FFD300;
    border-radius: 10px;
    padding: 16px 0 0 17px;
}

.block-two__price {
    color: #534407;
    background-color: #DEB905;
    width: 78px;
    height: 25px;
    border-radius: 5px;
    padding-left: 8px;
}

.block-two__title {
    max-width: 123px;
    padding-top: 13px;
    position: relative;
    font-weight: 800;
    font-size: 19px;
    line-height: 25px;
}

.block-two::before {
    content: '';
    position: absolute;
    background-image: url(../img/icons/sedan.svg);
    width: 108px;
    height: 108px;
    top: 180px;
}

.block-three {
    width: 204px;
    height: 287px;
    position: relative;
    background-color: #4B5257;
    border-radius: 10px;
    color: #fff;
    padding: 16px 0 0 17px;
}

.block-three__price {
    width: 78px;
    height: 25px;
    border-radius: 5px;
    padding-left: 8px;
    background-color: #B0B0B0;
}

.block-three__title {
    padding-top: 13px;
    position: relative;
    font-weight: 800;
    font-size: 19px;
    line-height: 25px;
}

.block-three::before {
    content: '';
    position: absolute;
    background-image: url(../img/icons/jeep.svg);
    width: 108px;
    height: 108px;
    top: 180px;
}

.block-four {
    width: 205px;
    height: 287px;
    position: relative;
    background-color: #5BBFC8;
    border-radius: 10px;
    padding: 16px 0 0 17px;
}

.block-four__price {
    background-color: #49A1A9;
    color: #1E4D54;
    width: 78px;
    height: 25px;
    border-radius: 5px;
    padding-left: 8px;
}

.block-four__title {
    padding-top: 13px;
    position: relative;
    font-weight: 800;
    font-size: 19px;
    line-height: 25px;
}

.block-four::before {
    content: '';
    position: absolute;
    background-image: url(../img/icons/truck.svg);
    width: 123px;
    height: 123px;
    top: 170px;
}

.legal-entities__top {
    padding-top: 91px;
    text-align: center;
}

.legal-entities__title {
    font-weight: 800;
    font-size: 45px;
    line-height: 55px;
}

.legal-entities__content {
    font-weight: bold;
    font-size: 22px;
    line-height: 35px;
    padding-top: 10px;
}

.stock {
    width: 102px;
    height: 41px;
    background-color: #FFD300;
    border-radius: 5px;
    padding: 5px 15px;
}

.legal-entities__inner {
    display: flex;
    padding-top: 63px;
}

.legal-entities__img {
    background-image: url(../img/legal-entities__img.png);
    width: 943px;
    height: 569px;
}

.legal-entities__img-mobile {
    background-image: url(../img/legal-entities__mobile.png);
    display: none;
    background-repeat: no-repeat;
    margin-top: 30px;
}

.legal-entities__list {
    padding-left: 94px;
}

.legal-entities__item {
    position: relative;
    font-weight: bold;
    font-size: 22px;
    line-height: 45px;
}

.legal-entities__item::before {
    content: '';
    position: absolute;
    border-left: 5px solid #171717;
    border-radius: 7px;
    height: 28px;
    left: -19px;
    top: 8px;
}

.form {
    display: block;
    padding-left: 96px;
    padding-top: 55px;
}

.your-phone {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    padding-bottom: 8px;
    padding-left: 28px;
}

.form__phone {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    border: none;
    padding: 23px 109px 23px 28px;
    border-radius: 5px;
    max-width: 350px;
}

.application {
    background-color: #FFD200;
    text-align: center;
    padding: 22px 20px 22px 20px;
    border-radius: 5px;
    color: #000;
    margin-top: 41px;
    font-weight: bold;
    display: block;
    max-width: 255px;
    margin-left: 42px;
    transition: all 0.5s;
}

.application:hover {
    background-color: #cea800;
}

.advantages {
    background: url(../img/advantages-bg.png) no-repeat center center fixed;
    background-size: cover;
    padding-top: 94px;
    padding-bottom: 233px;
}

.advantages__title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 45px;
    line-height: 55px;
}

.advantages__inner {
    display: flex;
    justify-content: space-around;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    padding-top: 163px;
}

.advantages__left-inner {
    padding-left: 82px;
}

.advantages__item {
    align-items: center;
    justify-content: center;
    max-width: 256px;
    margin-top: 45px;
}

.advantages__item-left {
    padding-left: 40px;
    max-width: 293px;
}

.border {
    position: absolute;
}

.border-bottom {
    margin-top: -145px;
}

.line-left-top {
    position: absolute;
    left: 320px;
    top: 18px;
}

.line-left-bottom {
    margin-left: -5px;
}

.advantages__center {
    z-index: 12;
    margin-left: -150px;
}

.advantages__right-inner {
    margin-top: -54px;
}

.advantages__item-right {
    margin-top: 50px;
    padding-top: 14px;
    padding-left: 35px;
}

.border-284-right {
    padding-left: 33px;
}

.line-right-top {
    margin-left: -177px;
    margin-top: -5px;
}

.line-right-bottom {
    margin-top: -140px;
    margin-left: -439px;
}

.mobile-service {
    background-color: #FFD300;
    padding-top: 128px;
    padding-bottom: 107px;
}

.mobile-service__images {
    position: relative;
}

.dots-left {
    position: absolute;
    top: 123px;
}

.dots-right {
    position: absolute;
    right: 0;
}

.mobile-service__title {
    text-align: center;
    display: block;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 45px;
    line-height: 55px;
}

.mobile-service-form__phone {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    border: none;
    padding: 23px 109px 23px 28px;
    border-radius: 5px;
    z-index: 66;
}

.mobile-service__your-phone {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    margin-top: 50px;
    padding-right: 437px;
}

.mobile-service-form {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.mobile-service__application {
    background-color: #17181C;
    text-align: center;
    padding: 22px 30px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    display: block;
    max-width: 255px;
    margin-left: 42px;
    transition: all 0.5s;
}

.mobile-service__application:hover {
    background-color: #666a7a;
}

.additional-works {
    padding-top: 94px;
    padding-bottom: 118px;
}

.additional-works__title {
    font-weight: 800;
    font-size: 45px;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
}

.additional-works__inner {
    display: flex;
    justify-content: space-around;
    padding-top: 71px;
}

.additional-works__list {
    padding-top: 115px;
}

.additional-works__item {
    list-style: disc;
    font-weight: bold;
    font-size: 22px;
    line-height: 35px;
}

.additional-mobile {
    display: none;
}

.maps__inner {
    display: flex;
    color: #fff;
}

.maps__title {
    position: relative;
    font-weight: 800;
    font-size: 45px;
    width: 530px;
    line-height: 55px;
    text-transform: uppercase;
    margin-left: -222px;
}

.maps__title::before {
    content: '';
    position: absolute;
    background-image: url(../img/maps-line.svg);
    width: 7px;
    height: 155px;
    left: -60px;
}

.maps-content {
    position: relative;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-left: -325px;
    margin-top: 30px;
}

.maps-content::before {
    position: absolute;
    content: '';
    background-image: url(../img/maps-ellipse.svg);
    width: 34px;
    height: 34px;
    left: 110px;
}

.maps-left {
    position: relative;
    background-image: url(../img/maps-bg2.png);
    width: 50vw;
    padding-left: 428px;
    padding-top: 150px;
}


.maps-right__mobile {
    display: none;
}

.map-yandex {
    width: 50%;
}

.prices {
    display: block;
    padding: 93px 0;
}

.slider-wrapper {
    padding: 92px 0;
}


/*Пагинация*/

.image-slider .swiper-pagination {}


/* Буллеты */

.swiper-pagination-bullet {}

.image-slider .swiper-pagination-bullet {
    height: 20px;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    background-color: transparent;
}

.swiper-container {
    margin-top: 69px;
    overflow: hidden;
    text-align: center;
}

.slider-title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    font-size: 45px;
    line-height: 55px;
}

.swiper-pagination-bullet {
    margin-left: 12px;
    border-radius: 0;
    width: 81px;
    height: 30px;
    text-align: center;
    font-weight: 300;
    left: 75px;
}

.swiper-pagination {
    left: 75px;
}

.swiper-scrollbar-drag {
    top: -3px;
    height: 11px;
    border-radius: 50%;
    background-color: #FFD300;
    box-shadow: 0px 0px 8px 6px rgba(255, 213, 0, 0.644);
}

.swiper-scrollbar__content {
    position: absolute;
    bottom: -6px;
    left: -226px;
}

.prices__item {
    font-family: 'Manrope';
    background-color: #EBE9E9;
    margin-top: 13px;
    padding: 0px 27px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.list-prices {
    padding-top: 33px;
    font-weight: 500;
    font-size: 17px;
    line-height: 45px;
}

.item__price {
    text-align: right;
    font-weight: bold;
    font-size: 18px;
    line-height: 45px;
}

.slider-button {
    display: flex;
    justify-content: center;
    margin-top: 68px;
}

.reviews__title {
    text-transform: uppercase;
    font-size: 45px;
    line-height: 55px;
    font-weight: 800;
    text-align: center;
}

.reviews-top {
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
}

.reviews-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}

.video-inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 520px;
    height: 255px;
    background-color: #C4C4C4;
    border-radius: 5px;
}

.video2-inner {
    padding-left: 12px;
    margin-top: 12px;
    width: 520px;
    height: 255px;
    text-align: center;
    background-color: #C4C4C4;
    border-radius: 5px;
}

.video-link {
    transition: all .5s;
}

.video-link:hover {
    transform: scale(1.2);
}

.icon-play {
    position: absolute;
    left: 22px;
    top: 18px;
}

.video__title {
    font-size: 22px;
    font-weight: 800;
}

.video__description {
    font-size: 18px;
}

.partners {
    padding: 97px 0;
}

.partners__title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    font-size: 45px;
}

.partners__list {
    display: flex;
    justify-content: space-between;
}

.partners-top__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 11px;
    width: 202px;
    height: 175px;
    background-color: #fff;
    border: 2px solid rgba(73, 104, 129, 0.1);
    border-radius: 10px;
}

.swiper2 {
    overflow: hidden;
    margin-top: 42px;
}

.swiper-arrows {
    display: flex;
    justify-content: end;
    z-index: 33;
}

.swiper-button-prev {
    background-color: #fff;
    border: 2px solid rgba(73, 104, 129, 0.1);
    box-shadow: 0px 4px 20px rgba(73, 104, 129, 0.1);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-top: 12px;
    transition: all 0.5s;
}

.swiper-button-next {
    background-color: #fff;
    border: 2px solid rgba(73, 104, 129, 0.1);
    box-shadow: 0px 4px 20px rgba(73, 104, 129, 0.1);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-top: 12px;
    margin-left: 5px;
    transition: all 0.5s;
}


.swiper-button-prev:hover,
.swiper-button-next:hover {
    background-color:  rgb(219, 219, 219);
}

.footer {
    position: relative;
    padding: 48px 0 15px 0;
    background-color: #17181C;
}

.footer-list__mobile {
    display: none;
}

.footer-img__mobile {
    display: none;
}

.footer__bottom-mobile {
    display: none;
}

.border-footer__mobile {
    display: none;
}

.footer-img {
    position: sticky;
    margin-top: -214px;
    left: 478px;
}

.footer__list {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__footer-item {
    margin-right: 33px;
}

.footer__phone-num {
    position: relative;
    color: #FFD300;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    margin-left: 126px;
    transition: all 0.5s;
}

.footer__phone-num:hover {
    color: #cea800;
}


.footer__phone-num::before {
    content: '';
    position: absolute;
    background-image: url(../img/icons/call-phone.svg);
    width: 13px;
    height: 13px;
    left: -28px;
    top: 6px;
}

.footer-bottom {
    margin-top: 40px;
    color: #FFD200;
}

.footer-items {
    display: flex;
    justify-content: end;
}

.icon-avito {
    transition: all .5s;
}

.icon-avito:hover {
    transform: scale(1.2);
}

.icon-instagram {
    transition: all .5s;
}

.icon-instagram:hover {
    transform: scale(1.2);
}

.footer-whatsapp {
    border: 1px solid #FFD200;
    padding: 13px 20px;
    border-radius: 5px;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    transition: all .5s;
}

.footer-whatsapp:hover {
    font-size: 16px;
}

.footer-items li:not(:last-child) {
    margin-right: 27px;
}

.border-footer {
    border-top: 1px solid #fff;
    opacity: 0.4;
    margin-top: 36px;
}

.copyright {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    margin-top: 11px;
}

.modal-service-form {
    display: inline-block;
}

.modal__title {
    font-size: 20px;
    color: #fff;
    line-height: 25px;
    margin-top: 20px;
}

.modal__your-phone {
    display: inline-block;
    padding-right: 0;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-right: 125px;
    color: rgba(255, 255, 255, 0.5);
}

.modal__application {
    background-color: #FFD200;
    margin-top: 20px;
    margin-bottom: 50px;
    transition: all 0.5s;
}

.modal__application:hover {
    background-color: #cea800;
}


.parent__popup {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: none;
    z-index: 99999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease 0s;
}

.parent__popup:target {
    opacity: 1;
    visibility: visible;
}

.popup {
    background: #17181C;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 520px;
    margin: 15% auto;
    padding: 5px 20px 13px 20px;
    position: relative;
    /*--CSS3 CSS3 Тени для Блока--*/
    -webkit-box-shadow: 0px 0px 20px #000;
    -moz-box-shadow: 0px 0px 20px #000;
    box-shadow: 0px 0px 20px #000;
    /*--CSS3 Закругленные углы--*/
    border-radius: 10px;
    transition: all 0.5s ease 0s;
    transform: perspective(600px);
}

/* кнопка закрытия */
.close {
    line-height: 24px;
    position: absolute;
    right: -65px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    font-size: 37px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    top: -24px;
    transform: rotate(45deg);
    transition: all 0.5s;
}

.close:hover {
    transform: rotate(-50deg);
}

.modal__label {
    display: flex;
    justify-content: center;
}

.modal__inner {
    text-align: center;
}



@media (max-width: 1200px) {
    .callback__btn {
        margin-right: 12px;
    }

    .logo {
        margin-left: 15px;
    }

    .header-title {
        margin-left: 15px;
        font-size: 54px;
        line-height: 60px;
    }

    .header-content {
        font-size: 16px;
        margin-left: 15px;
    }

    .header-call {
        margin-left: 15px;
    }

    .advantages__inner {
        font-size: 16px;
    }

    .line-left-top,
    .line-left-bottom,
    .line-right-bottom,
    .line-right-top {
        display: none;
    }

    .advantages__left-inner {
        padding-left: 0;
    }

    .border {
        position: relative;
    }

    .border-bottom {
        margin-top: 0;
    }

    .advantages__center {
        margin-left: 0;
    }

    .border-284-right {
        padding-left: 0;
    }

    .maps__title {
        margin-left: -342px;
    }

    .maps-content::before {
        left: 55px;
    }

    .reviews-bottom,
    .reviews-top {
        justify-content: space-evenly;
    }

    .video-inner {
        margin: 0 5px;
        width: 431px;
        height: 233px;
    }

    .footer-whatsapp {
        margin-right: 6px;
    }

}

@media (max-width: 992px) {
    .header-background {
        background-repeat: no-repeat;
        background-size: contain;
    }

    .logo {
        position: relative;
        margin-left: -46px;
        width: 134px;
        height: 66px;
    }

    .header__top-inner.show {
        display: flex;
        margin-top: 0;
        padding-bottom: 10px;
        background: none;
    }

    .header .show {
        padding-bottom: 0;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu__list {
        font-size: 20px;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: -40px;
        align-items: center;
        text-align: center;
        background-color: #17181C;
        transform: translateY(-200%);
        transition: all 0.5s;
        z-index: 1;
        padding: 160px 0 15px;
        overflow: scroll;
        z-index: 22;
    }

    .menu__list.menu__list--active {
        transform: translateY(0);
        height: 200vh;
        transition: all 0.5s;
    }

    .menu__btn {
        position: absolute;
        display: block;
        margin-top: 40px;
        right: 22px;
        top: 20px;
        z-index: 100;
        background-color: #17181C;
        padding: 13px 11px 11px;
        border-radius: 6px;
    }

    .menu__list-item {
        display: block;
    }

    .menu__list-item+.menu__list-item {
        margin-left: 0;
    }

    .menu__list-link {
        position: relative;
        display: block;
        padding: 12px 0;
        line-height: 48px;
    }

    .phone-num {
        display: block;
        margin: 63px 0 24px;
    }

    .callback__btn {
        margin: 0;
    }

    .header-title {
        font-size: 50px;
        margin-top: 20px;
    }

    .header-content {
        font-size: 14px;
        line-height: 22px;
    }

    .block-one__title {
        font-size: 20px;
        line-height: 30px;
    }

    .block-one__title::before {
        top: 80px;
    }

    .block-one__content {
        font-size: 14px;
        line-height: 18px;
        margin-top: 5px;
    }

    .block-two__title,
    .block-three__title,
    .block-four__title {
        font-size: 15px;
        line-height: 20px;
        max-width: 20px;
    }

    .block-one,
    .block-two,
    .block-three,
    .block-four {
        margin-left: 5px;
        margin-right: 5px;
    }

    .advantages__inner {
        display: inline;
    }

    .advantages__item-left {
        padding-left: 0;
    }

    .advantages__left-inner {
        margin-top: 72px;
        display: flex;
        justify-content: center;
    }

    .advantages__item {
        margin-top: 5px;
    }

    .advantages__center {
        display: flex;
        justify-content: center;
        margin-top: 44px;
    }

    .advantages__item-right {
        padding-left: 0;
        margin-top: 5px;
    }

    .advantages__right-inner {
        display: flex;
        justify-content: center;
        margin-top: 68px;
    }

    .dots-left {
        display: none;
    }

    .dots-right {
        display: none;
    }

    .mobile-service__your-phone {
        display: flex;
        justify-content: center;
        padding-right: 0;
    }

    .mobile-service-form {
        display: inline-block;
    }

    .service__label {
        display: flex;
        justify-content: center;
    }

    .mobile-service__application {
        margin-top: 41px;
    }

    .maps__inner {
        display: inline-block;
        text-align: center;
    }

    .maps-left {
        padding: 54px 0 77px;
        min-width: 100vw;
    }

    .maps__title {
        margin: 0 auto;
        position: relative;
    }

    .maps__title::before {
        background-image: none;
    }

    .maps-content {
        margin-left: 0;
    }

    .maps-right {
        display: none;
    }

    .maps-right__mobile {
        display: block;
    }

    .swiper-pagination-bullet-active {
        border-radius: 6px;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        padding-left: 0;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 6px var(--swiper-pagination-bullet-horizontal-gap, -4px);
    }


    .swiper-horizontal>.swiper-scrollbar {
        transform: rotate(270deg);
        display: none;
    }

    .prices__item {
        background-color: #F7F4F4;
    }

    .reviews-top {
        flex-direction: column;
        align-items: center;
    }

    .reviews-bottom {
        flex-direction: column;
        align-items: center;
    }

    .video-inner {
        width: 331px;
        height: 233px;
    }

    .video-content__inner {
        padding: 10px;
    }

    .footer {
        display: none;
    }

    .footer-img {
        display: block;
        margin-top: -122px;
    }

    .footer__mobile {
        display: block;
    }

    .footer__bottom-mobile {
        display: flex;
        justify-content: center;
        margin-top: 68px;
        margin-left: 115px;
    }

    .footer-list__mobile {
        text-align: center;
        display: block;
    }

    .footer__phone-num {
        margin-left: 0;
    }

    .menu__footer-item {
        color: #fff;
    }

    .footer-item-whatsapp {
        margin-top: 26px;
        color: #FFD200;
    }

    .footer-menu {
        margin-top: 57px;
        margin-left: 32px;
    }

    .menu__footer-num-mobile {
        margin-top: 25px;
        margin-left: 0;
    }

    .border-footer__mobile {
        display: block;
    }

}

@media (max-width: 768px) {
    .menu__btn {
        margin-top: 10px;
    }

    .header-title {
        font-size: 40px;
        margin-top: 10px;
        line-height: 45px;
    }

    .header-content {
        margin-top: 0;
    }

    .header-bottom {
        padding-top: 50px;
    }

    .mobile-repair__inner {
        display: block;
    }

    .block-one {
        margin-top: 60px;
        width: 97%;
    }

    .block-one__inner {
        min-width: 100%;
    }

    .block-one__title::before {
        top: 49px;
    }

    .block-two,
    .block-three,
    .block-four {
        min-width: 97vw;
        height: 230px;
        margin-top: 10px;
    }

    .block-two__title,
    .block-three__title,
    .block-four__title {
        min-width: 186px;
        font-size: 19px;
        line-height: 25px;
    }

    .block-two::before {
        right: 10px;
        top: 140px;
    }

    .block-three::before {
        right: 10px;
        top: 130px;
    }

    .block-four::before {
        right: 10px;
        top: 120px;
    }

    .block-two__price,
    .block-three__price,
    .block-four__price {
        margin-top: 70px;
    }

    .legal-entities__title {
        font-size: 40px;
    }

    .legal-entities__inner {
        display: block;
    }

    .legal-entities__img {
        display: none;
    }

    .legal-entities__img-mobile {
        display: block;
        width: 565;
        height: 346px;
        background-position: center;
        background-size: 100vw;
    }

    .legal-entities__list {
        padding-left: 45px;
    }

    .form {
        padding-left: 0;
    }

    .form__btn {
        display: flex;
        justify-content: center;
    }

    .form__phone {
        padding: 23px 180px 23px 25px;
        max-width: none;
        width: 100%;
    }

    .application {
        padding: 22px 45px;
    }

    .advantages__title,
    .mobile-service__title {
        font-size: 40px;
        line-height: 45px;
    }

    .additional-works__title {
        font-size: 40px;
        line-height: 45px;
    }

    .additional-works__list {
        padding-top: 27px;
    }

    .additional-works__image {
        display: none;
    }

    .additional-mobile {
        display: flex;
        justify-content: center;
        margin-top: 24px;
    }

    .maps__title {
        font-size: 40px;
        line-height: 45px;
        width: 280px;
    }

    .prices__item {
        line-height: 25px;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin-top: 12px;
    }

    .slider-wrapper {
        padding: 16px 0;
    }

    .reviews__title,
    .partners__title,
    .slider-title {
        font-size: 40px;
        line-height: 45px;
    }

    .swiper2 {
        column-count: 2;
        flex-direction: column;
        column-gap: 10px;
    }

    .partners__list {
        padding-left: 8vw;
        column-gap: -12px;
        column-count: 2;
        flex-direction: column;
    }

    .partners__list-top {
        margin-left: 5px;
    }

    .partners__list-bottom {
        margin-top: 67px;
        margin-right: 5px;
    }

    .swiper-arrows {
        margin-right: 95px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 55px;
        height: 55px;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-size: 27px;
    }

    .mobile-service__title {
        font-size: 20px;
        line-height: 25px;
    }

    .close {
        right: -2px;
        top: 0;
        font-size: 70px;
    }
}

@media (max-width: 576px) {
    .header-background {
        background-image: url(../img/bg-mobile.png);
    }

    .block-one__title::before {
        top: 50px;
    }

    .advantages__title {
        font-size: 30px;
    }

    .additional-works__title {
        font-size: 30px;
    }

    .additional-works__inner {
        padding-top: 17px;
    }

    .additional-works__list {
        margin-left: 15px;
    }

    .border {
        width: 300px;
    }

    .maps__title {
        font-size: 30px;
    }

    .maps-content::before {
        left: 40px;
    }

    .slider-title,
    .reviews__title,
    .partners__title {
        font-size: 30px;
    }

    .video-inner {
        width: 331px;
    }

    .partners-top__item {
        width: 160px;
        height: 139px;
    }

    .swiper-arrows {
        margin-right: 50px;
    }

    .popup {
        width: 385px;
    }

    .close {
        right: 10px;
        top: -35px;
    }

    .footer-img {
        margin-top: -100px;
    }
}

@media (max-width: 405px) {
    .partners__list {
        margin-left: -5vw;
        margin-right: 5px;
    }

    .close {
        right: 45px;
    }
}